:root {
   --main-bg-color: #c7cfd9;
   --main-bg-light: #FFF;
   --main-bg-colorido: #004080;
   --main-text-color: #010a15;
   --main-text-light: #727272;
   --main-text-colorido: #004080;
   --primary-color: #385881;
   /*body */
   --secondary-color: #788fac;
   /*rodapé */
   --light-color: #FFF;
   --font-family: 'Poppins', sans-serif;
   --header-height: 100px;
}

/* Reset básico */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Corpo da página */
body {
   font-family: var(--font-family);
}


header {
   display: flex;
   justify-content: center;
   background-color: var(--main-bg-color);
   height: var(--header-height);
}

.container-logo {
   display: flex;
   justify-content: space-between;
   width: 990px;
   border-bottom: 1px solid var(--secondary-color);
}

/* Logo */
.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Menu */
.menu {
   display: flex;
   align-items: center;
}

nav ul,
nav li {
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul {
   display: flex;
   gap: 20px;
}

nav a {
   display: block;
   /* para alterar o conteúdo */
   padding: 10px 20px;
   border-radius: 20px;
   text-decoration: none;
   color: #727272;
   font-weight: bold;
}

nav .active1 a {
   background-color: var(--light-color);
   border-radius: 20px;
}

nav .active2 a {
   background-color: var(--primary-color);
   color: #ffffff;
   border-radius: 20px;
}

nav .active1 a:hover,
nav a:hover {
   background-color: var(--secondary-color);
   border-radius: 20px;
   color: #ffffff;
   text-transform: uppercase;
}

/* fim header */

/* Hero Section */
.hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 10%;
   background-color: var(--main-bg-color);
}

.hero-text {
   max-width: 50%;
}

.hero-text h1 {
   font-size: 2.5rem;
   color: var(--main-bg-colorido);
}

.hero-text h1 span {
   color: var(--main-text-color);
}

.hero-text p {
   font-size: 1.2rem;
   color: var(--main-text-light);
   margin-top: 10px;
   line-height: 1.3;
}

.btn-primary {
   width: 200px;
   margin-top: 20px;
   padding: 10px;
   text-align: center;
   background-color: var(--primary-color);
   border: none;
   border-radius: 20px;
   font-size: 16px;
   cursor: pointer;
}

.btn-primary  a{
   color: var(--light-color);
   text-decoration: none;
}

.btn-primary:hover {
   background-color: var(--main-text-colorido);
   transform: translateY(-2px);
   transition: all 0.3s ease;
}

.hero-image img {
   max-width: 100%;
   height: auto;
   border-radius: 20px;
}

/* fim Hero Section */

/* inicio container main */
.container-main {
   max-width: 990px;
   background-color: var(--main-bg-light);
   margin: 0 auto;
   padding: 20px;
}

.container-main h4 {
   color: var(--main-text-color);
   font-size: 1.2rem;
   font-weight: normal;
   text-align: center;
   margin: 30px 0;

}

/* Logos */
.logos {
   display: flex;
   width: 100%;
   height: 70px;
   justify-content: center;
   gap: 20px;
   margin-bottom: 40px;
}

.logos img {
   width: 200px;
   height: 70px;
   object-fit: cover;
   margin-bottom: 10px;
   background-color: var(--main-bg-color);
}

/* Card principal */
.card-principal {
   display: flex;
   flex-grow: 1;
   width: 90%;
   height: 300px;
   margin: 0 auto;
   background: var(--primary-color);
   color: #fff;
   border-radius: 16px;
   margin-bottom: 40px;
}

.card-principal img {
   width: 70%;
   padding: 20px;
   border-radius: 40px;
   object-fit: cover;
}

.card-principal h4 {
   text-align: left;
   color: var(--light-color);
   font-weight: normal;

}

.texto-principal {
   padding: 30px;
   position: relative;
}

.texto-principal h2 {
   font-size: 26px;
   margin-bottom: 15px;
}

.texto-principal p {
   line-height: 1.6;
}

.badge {
   position: absolute;
   bottom: 20px;
   right: 20px;
   background: var(--light-color);
   color: var(--main-text-colorido);
   padding: 8px 14px;
   border-radius: 20px;
   font-weight: bold;
}

/* Cards menores */
.cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

.card {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   background-color: var(--light-color);
   border-radius: 14px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card img {
   width: 100%;
   height: 200px;
   ;
   object-fit: cover;
   border-radius: 14px 14px 0 0;
}

.card-texto {
   padding: 20px;
   flex-grow: 1;
}

.card h3 {
   margin-bottom: 8px;
   font-size: 18px;
}

.card p {
   font-size: 14px;
   color: #555;
}

.mapa iframe {
   display: flex;
   justify-content: center;
   /* align-items: center; */
   width: 100%;
   height: 300px;
   /* padding: 20px; */
   margin-bottom: 3px;
}

/* fim container main */

/* inicio do footer */
.footer {
   background-color: #3f5f86;
   padding: 50px 20px;
   color: #e6edf5;
}

.footer-container {
   max-width: 1100px;
   margin: auto;
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr;
   gap: 30px;
}

.footer-brand h3 {
   margin-bottom: 10px;
   font-size: 20px;
}

.footer-brand p {
   font-size: 14px;
   margin-bottom: 15px;
   line-height: 1.5;
   color: #cfd8e3;
}

.social-icons {
   display: flex;
   gap: 12px;
}

.social-icons i {
   font-size: 24px;
   color: #fff;
}

.social-icons i:hover {
   color: var(--main-text-colorido);
}


/* Links */
.footer-links h4 {
   font-size: 16px;
   margin-bottom: 12px;
}

.footer-links ul {
   list-style: none;
}

.footer-links li {
   margin-bottom: 8px;
}

.footer-links a {
   text-decoration: none;
   font-size: 14px;
   color: #cfd8e3;
}

.footer-links a:hover {
   color: #ffffff;
}

.footer-bottom {
   width: 100%;
   padding: 10px;
   background-color: var(--secondary-color);
   text-align: center;
}

.footer-bottom p {
   font-size: 13px;
   color: var(--light-color);
}